.DS_Store
.zcompdump*
.mypy_cache/**

dotfiles/zsh/**
!dotfiles/zsh/.zshrc
!dotfiles/zsh/.zshenv
!dotfiles/zsh/.zlogout
!dotfiles/zsh/aliases
!dotfiles/zsh/fzf-functions

dotfiles/karabiner/**
!dotfiles/karabiner/karabiner.json

dotfiles/iterm2/**
!dotfiles/iterm2/com.googlecode.iterm2.plist
