.DS_Store
.zcompdump*
.mypy_cache/**

dotfiles/zsh/**
!dotfiles/zsh/.zshrc
!dotfiles/zsh/.zshenv
!dotfiles/zsh/.zlogout
!dotfiles/zsh/aliases.zsh
!dotfiles/zsh/fzf-functions.zsh

dotfiles/karabiner/**
!dotfiles/karabiner/karabiner.json

dotfiles/iterm2/**
!dotfiles/iterm2/com.googlecode.iterm2.plist

bin/**
!bin/forever
!bin/gbdefault
!bin/gfix
!bin/gsync
!bin/gum
!bin/killport
!bin/update-hosts
