[Desktop Entry]

Encoding=UTF-8
Type=Application
Name=Screen lock
Comment=Lock screen on suspend
Exec=i3lock
StartupNotify=false
Terminal=false
Hidden=false
